* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  

  .maindiv{
    position: relative;left: 400px;top: 100px;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

  .container {
    position: relative;left: 70px;top: 50px;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  span {
    font-size: 100px;
    padding: 10px;
    color: grey;
  }
  
  .btn {
    background: none;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
  }
  
  .up {
    animation: up 0.5s ease;
    position: relative;
  }
  
  .down {
    animation: down 0.5s ease;
    position: relative;
  }
  
  @keyframes up {
    0% {
      top: 0px;
    }
    50% {
      top: -20px;
    }
    100% {
      top: 0px;
    }
  }
  
  @keyframes down {
    0% {
      top: 0px;
    }
    50% {
      top: 20px;
    }
    100% {
      top: 0px;
    }
  }